################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/RepositoryTest/FileContentIndex/c02fae24-9cc6-4c8d-8861-91c1a0ed5e8f.vsidx
/.vs/slnx.sqlite
